.headerContainer{
  width: 100%;
  height: 104px;
  position: sticky;
  z-index: 10;
  top: 0;
  background: #171d25;
}
.headerWrapper{
  display: flex;
  align-items: center;
  height: 100%;
}
.menuHeader{
  list-style: none;
  display: flex;
  gap: 20px;
}
.menuHeaderItem a{
  color: #dcdedf;
  font-weight: 500;
}
