.headerContainer {
  background: #171a21;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  overflow: hidden;
  padding: 13px 8px;
}
.headerWrapper{
  position: relative;
  display: flex;
  justify-content: center;
}
