.specificationBorderBox{
  border: 1px solid #212121;
  border-radius: 3px;
  background-color: #222223;
  height: 42px;
  box-shadow: 1px 1px 0 #343944;
  flex: 1;
}
.specificationBox{
  padding: 7px; 
}
